.nav-ul li {
  display: inline-block;
  padding: 5px;
  margin: 0;
}

.nav-ul {
  padding: 10px;
  margin: 0%;
  background-color: skyblue;
  animation: auto;
}

.nav-ul li a {
  padding: 5px;
  color: white;
}

.sign-up {
  margin-left: 30%;
}

.input-box {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}

.input-btn {
  --c: #229091;
  /* the color*/

  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}

.input-btn:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

.input-btn:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.input-btn {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  margin: 25px;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;
  border: none;
}

.footer {
  display: inline;
  padding: 5px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
  margin: 0%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}